:root {
  --theme-color: #658ba5;
  --white-color: #ffffff;
  --dark-color: #191717;
  --light-black: #444a52;
  --error-color: #ff1a1a;
  --orange-color: #f2767a;
  --box-shadow: rgb(0 0 0 / 14%) 0px 0px 15px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow: auto;
}

.form-box {
  margin-bottom: 20px;

  label {
    font-weight: 500;
    font-size: 16px;
  }
}

.btn-orange {
  background-color: var(--orange-color);
  color: var(--white-color);

  &:hover {
    background-color: var(--orange-color);
    color: var(--white-color);
  }
}

.btn-primary {
  background-color: var(--theme-color);
  border: 0px;

  &:hover {
    background-color: var(--theme-color);
  }
}

.btn-light{
  background-color: #c6c7c8;
}

.add-btn {
  display: flex;
  align-items: center;

  .icon {
    width: 17px;
    height: 17px;
    display: flex;
    fill: var(--white-color);
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.errorText {
  color: var(--error-color);
  margin: 10px 0px;
  font-size: 14px;
}

.customNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);

  .brandIcon {
    width: 110px;

    img {
      width: 100%;
    }
  }

  .userProfile {
    .btn-profile {
      background-color: var(--theme-color);
      display: flex;
      align-items: center;
      border-radius: 0px;

      .icon {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100%;

        }
      }

      .details {
        margin-left: 11px;
        color: var(--white-color);

        .name {
          font-size: 15px;
          font-weight: 500;
        }

        .position {
          font-size: 11px;
        }
      }

      &::after {
        display: none;
      }

      &.btn.show {
        border-color: transparent;
      }
    }

    .profile-list {
      list-style-type: none;
      padding: 10px;
      margin-bottom: 0px;

      a {
        text-decoration: none;
        color: var(--light-black);
      }
    }
  }
}

.MainWrapper {
  position: relative;
  max-width: 100%;

  .MainContent {
    display: flex;
    width: 100%;
    min-height: 90vh;


    .SideMain {
      width: 250px;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.14) 5px 8px 12px 0px;

      .sideHeader {
        position: relative;
        text-align: right;

        .icon {
          width: 20px;
          height: 20px;
          margin-left: auto;
          cursor: pointer;

          svg {
            width: 100%;
            height: 100%;
          }
        }

      }

      .sideList {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        .list-item {
          border-bottom: 1px solid var(--theme-color);

          .headings {
            font-size: 15px;
            font-weight: 500;
            padding: 10px 0px;
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;

            .icon {
              width: 25px;
              height: 25px;
              margin-right: 5px;
              display: flex;
              align-items: center;
              justify-content: center;

              svg {
                height: 30px;
              }

              &.x2 {

                svg {
                  height: 21px;
                }
              }
            }

            .text {
              color: var(--dark-color);
            }

            .arrowIcon {
              position: absolute;
              top: 45%;
              right: 5px;
              transform: translate(-50%, -50%);
              width: 15px;
              height: 15px;

              svg {
                width: 100%;
                height: 100%;
              }

              &.open {

                svg {
                  rotate: 180deg;
                }
              }
            }
          }

          .sidesublist {
            list-style-type: none;
            margin-left: 35px;
            padding: 0px;
            margin-bottom: 20px;

            .child-list {
              font-size: 13px;
              font-weight: 500;
              color: var(--dark-color);
              position: relative;

              &::before {
                content: "";
                position: absolute;
                top: 46%;
                left: -14px;
                height: 5px;
                rotate: 135deg;
                width: 5px;
                border-left: 2px solid var(--dark-color);
                border-top: 2px solid var(--dark-color);
              }
            }
          }
        }
      }

      &.close {
        width: 50px;
        padding: 20px 15px;

        .sideList {
          display: none;
        }
      }
    }

    .content {
      width: calc(100% - 250px);
      padding: 20px;

      .dashboadheader {
        display: flex;
        align-items: center;

        .head {
          font-size: 18px;
          font-weight: 500;
        }

        .add-button {
          margin-left: auto;
        }
      }

      .contentunder {
        background-color: var(--white-color);
        box-shadow: var(--box-shadow);
        margin: 20px auto;
        border-radius: 10px;
        overflow: hidden;

        .css-11mde6h-MuiPaper-root {
          box-shadow: 0px 0px 0px #ffffff00;
        }
      }

      &.close {
        width: calc(100% - 50px);
      }

    }

  }

  .screenHead {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .heads {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .addReconciliation {
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 7px;
    margin: 20px 0px;

    .tabsSection{
      .tabs-buttons-wrapper{
        position: relative;
        border: 1px solid #658ba53b;
        display: inline-block;

        .btn{
          border-radius: 0px;

          &.active{
            background-color: var(--theme-color);
            color: var(--white-color);
          }
          &.false{
            position: relative;

            &::before{
              content: '';
              position: absolute;
              top: 50%;
              left: -2px;
              border-left: 1px solid #658ba53b;
              transform: translate(-50%, -50%);
              height: 100%;
            }

            &:first-child{
              &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0px;
                border-right: 0px solid #658ba53b;
                transform: translate(-50%, -50%);
                height: 0px;
              }
            }

            /* &:last-child{
              &::after{
                content: '';
                position: absolute;
                top: 50%;
                right: 0px;
                border-right: 1px solid var(--theme-color);
                transform: translate(-50%, -50%);
                height: 60%;
              }
            } */
          }
        }
      }
      .tabs-content{
        position: relative;
        
        .tabs-box{
          position: relative;
          padding: 20px 0px;

          .button-box{
            text-align: right;
            padding: 10px 15px;
            .btn{
              margin-left: 10px;
              border-radius: 0px;
            }
          }
          .note-box{

            .header{
              font-weight: 500;
              color: var(--error-color);
            }
          }

          .maps-head{
            padding: 10px 0px 15px;
            .head{
              font-size: 15px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.signinScreen {
  margin: 0px;
  min-height: 100vh;

  .imageBox {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: auto;
      height: 100%;
    }
  }

  .signinBox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);

    .signinform {
      width: 80%;
      position: relative;

      .signinhead {
        color: var(--white-color);
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 100px;
      }

      .form-box {

        label {
          color: var(--white-color);
          font-weight: 500;
          margin-bottom: 7px;
        }
      }

      .submit-btn {
        width: 100%;
        padding-top: 20px;

        .btn {
          width: 100%;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .signinScreen {
    flex-direction: column-reverse;

    .signinBox {
      min-height: 50vh;
    }
  }
}